* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
 	height: auto;
}







/*@media only screen and (max-width: 600px) {
	#firstRow{
	display: flex;
	flex-direction: column-reverse;
	}

}*/

